{% extends "base.html" %}
{% load static i18n %}



{% if user.is_authenticated %}
<div class="analytics-graph">
<h2>{% trans "Analytics Graph" %}</h2>
<canvas id="analytics-chart"></canvas>
<script>
// Fetch data from API and render chart
fetch('/api/analytics/comments/{{ user.id }}/')
.then(response => response.json())
.then(data => {
const ctx = document.getElementById('analytics-chart').getContext('2d');
const chart = new Chart(ctx, {
type: 'line',
data: data,
options: {
responsive: true,
scales: {
x: {
type: 'time',
time: {
unit: 'day'
}
}
}
}
});
});
</script>
</div>
{% endif %}